body {
    font-family: Arial, sans-serif;
    background-color: #17558e;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(239, 210, 64);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(228, 178, 28, 0.806);
}

header {
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    margin: 10px 0;
}

.about {
    font-style: italic;
}

section {
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

h3 {
    margin: 5px 0;
}
